@font-face {
    font-family: Norse-bold;
    src: url("./Font/Norse-Bold.otf");
}
@font-face {
    font-family: Roboto;
    src: url(./Font/Roboto-Regular.ttf);
}
body{
    margin:0;
    display: flex;
}

/*Left section*/

.left-section{
    background-image: url("./Images/background.jpg");
    background-size:cover;
    background-color: darkgreen;
    width: 45vw;
    height:100vh;
    color: white;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.left-section span{
    text-decoration: underline;
}
.title{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.479);
    font-family: Norse-bold;
    font-size: calc(50px + 5vw);
    margin-top: 100px;
    padding: 10px 0;
}
.title img{
    width: 1em;
}
.title-credit{
    margin-top: auto;
}

/*right section*/

.right-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(235, 242, 248);
    font-family: roboto;
}

/*upper content*/

.upper-content{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left:3%;
    padding-right: 15%;
    font-size: 30px;
    justify-content: center;
}
.info-2{
    padding-top: 25px;
}
.upper-content span{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}
.upper-content p{
    margin: 0;
}

/*middle content*/

.form{
    display: flex;
    padding-left: 3%;
    box-shadow:-10px 10px 15px -10px gray;
    background-color: white;
    flex-direction: column;
}
.form form{
    letter-spacing: 2px;
}
/*lower content*/

.lower-content{
    flex-basis: 100%;
    padding-left: 3%;
}

.lower-content button{
    margin: 30px 0;
    display: block;
    background-color: #596D48;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
}

.lower-content span{
    color:#596D48;
}